* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  max-width: 1440px;
  margin: auto;
}

.header {
  width: 100%;
  height: 80px;
  background: coral;
  font-size: 3.6rem;
  color: antiquewhite;
  padding: 1.6rem;
  display: flex;
  align-items: center;
}

.game {
  padding: 1.6rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.cell {
  width: 10rem;
  height: 10rem;
  border: 2px solid navajowhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bolder;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
  border-bottom: none;
}

.cell:nth-child(n + 1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
  border-top: none;
}

.gameover {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.result {
  background: white;
  padding: 1.6rem;
  width: 80%;
  max-width: 450px;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  position: relative;
}

.declare {
  color: coral;
  font-size: 3rem;
  font-weight: bolder;
}

button {
  padding: 1rem 2rem;
  background: khaki;
  color: rgb(66, 66, 66);
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: coral;
  position: fixed;
  bottom: 0;
  left: 0;
}

.details {
  text-align: center;
}

.modal {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.forms {
  background: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 80%;
  max-width: 450px;
  border-radius: .5rem;
  padding: 1.6rem;
}

h3 {
  font-size: 3rem;
}

.form-ai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  height: 120px;
}

.ai, .ai div, label {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 60px;
}

input:hover, label:hover {
  cursor: pointer;
}

.ai{
  gap: 1.6rem
}

.form-player-names {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 120px;
}

input {
  padding: .5rem 1rem;
}

input::placeholder {
  color: lightgray;
  font-size: 1.2rem;
}

.player {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.turn {
  font-size: 2.4rem;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .header {
    padding: 1.6rem 15rem;
  }
}